<%= form_for(@car, :html => { :multipart => true }) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.number_field :year, :autofocus => true, :placeholder => "Year", :class => "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= f.select :make, options_for_select(Car.makes, @car.make), {}, :class => "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= f.text_field :model, :placeholder => "Model", :class => "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= f.number_field :price, :placeholder => "Price", :class => "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-success" %>
    <%= link_to "Cancel", @car, :class => "btn btn-default", :id => "cancel-button" %>
  </div>
<% end %>
