<p id="notice"><%= notice %></p>

<script>
$(function(){
  $('#search-box').keyup(function(evt) {
    // get keycode of current keypress event
    var code = (evt.keyCode || evt.which);

    // do nothing if it's an arrow key
    if(code == 37 || code == 38 || code == 39 || code == 40) {
      return;
    }

    var searchDropdown = document.getElementById("autocomp");
    var search = document.getElementById("search-box");
    var textVal = search.value;

    $.ajax({
      type:'PUT',
      url:'/search',
      data: { _method:'PUT', text : textVal },
      success:function(resp){
        //remove old search suggestions
        while(searchDropdown.firstChild) {
          searchDropdown.removeChild(searchDropdown.firstChild);
        }

        //add new suggestions
        for(var i = 0; i < resp.length; i++) {
          var option = document.createElement('option');
          option.value = resp[i];
          searchDropdown.appendChild(option);
        }
      }
    });
  });
});

function calcGarage() {
  var totalCost = 0;
  var totalNumber = 0;

  var elements = document.getElementsByClassName("car-checkbox");

  for(var i = 0; i < elements.length; i++) {
    var input = elements[i];

    if(input.checked) {
        totalCost += parseInt(input.value);
        totalNumber += 1;
    }
  }

  document.getElementById("gar-number").innerHTML = "Total number of selected cars: <b>" + totalNumber + "</b>";
  document.getElementById("gar-cost").innerHTML = "Total cost of selected cars: <b>$" + totalCost.toLocaleString('en', {useGrouping:true}) + "</b>";
};

var allChecked = false;

function selectAll() {
    var elements = document.getElementsByClassName("car-checkbox");

    for(var i = 0; i < elements.length; i++) {
        var input = elements[i];

        if(input.type == "checkbox") {
            input.checked = !allChecked;
        }
    }

    calcGarage();
    allChecked = !allChecked;
};
</script>

<%= form_tag '/cars', method: :get do %>
<div class="input-group">
   <%= text_field_tag :search, nil, :class => 'form-control', :placeholder => 'Search', :id => 'search-box', :autocomplete => :off, :list => "autocomp" %>
     <datalist id="autocomp">
     </datalist>
   <span class="input-group-btn">
     <%= button_tag 'search-button', :name => nil, :class => "btn btn-default" do %>
        <span class='glyphicon glyphicon-search'></span>
     <% end %>
   </span>
</div>
<% end %>

</br></br>

<div>
  <p>Cars: <strong><%= Car.number_cars %></strong></p>
  <p id="gar-number">Total number of selected cars: <b>0</b></p>
  <p id="gar-cost">Total cost of selected cars: <b>$0</b></p>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><span><input type="checkbox" onclick="selectAll()"> Select All</span></th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Build Cost</th>
      <th>Pics</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td>
          <span>
            <input class="car-checkbox" type="checkbox" value=<%= car.build_cost %> onclick="calcGarage()">
          </span>
        </td>
        <td><%= car.year %></td>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td>$<%= number_with_delimiter(car.build_cost, :delimiter => ',') %></td>
        <td><%= car.number_pics %> pics</td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to 'View', car, :class => "btn btn-primary" %>
            <%= link_to 'Edit', edit_car_path(car), :class => "btn btn-primary" %>
            <%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure you want to delete this car?' }, :class => "btn btn-primary" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @cars %>
  </div>
  <%= will_paginate @cars, :container => false %>
</div>
</br></br>
