<% content_for :title, "#{@car.year} #{@car.make} #{@car.model}" %>
<p id="notice"><%= notice %></p>

<%= link_to 'Back', cars_path, :class => "link" %> |
<%= link_to 'Edit', edit_car_path(@car), :class => "link" %> |
<%= link_to 'Duplicate', clone_car_path(@car), :class => "link" %> |
<%= link_to 'Delete', @car, method: :delete, data: { confirm: 'Are you sure you want to delete this car?' }, :class => "link" %>
<h3>Car</h3>

<div class="car-info">
  <p>
    <strong>Year:</strong>
    <%= @car.year %>
  </p>
  <p>
    <strong>Make:</strong>
    <%= @car.make %>
  </p>
  <p>
    <strong>Model:</strong>
    <%= @car.model %>
  </p>
  <p>
    <strong>Price:</strong>
    $<%= number_with_delimiter(@car.price, :delimiter => ',') %>
  </p>
</div>

<br />
<h3>Modifications</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Modification</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @car.modifications.each do |modification| %>
      <tr>
        <td><%= modification.name %></td>
        <td>$<%= number_with_delimiter(modification.price, :delimiter => ',') %></td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to 'Delete', [@car, modification], :method => :delete, data: { confirm: 'Are you sure you want to delete this modification?' }, :class => "btn btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
    <tr>
    	<td><strong>Mods Total</strong></td>
        <td><strong>$<%= number_with_delimiter(@car.modifications.sum(:price), :delimiter => ',') %></strong></td>
    	<td></td>
    </tr>
    <tr>
    	<td><strong>Build Total</strong></td>
    	<td><strong>$<%= number_with_delimiter(@car.build_cost, :delimiter => ',') %></strong></td>
    	<td></td>
    </tr>
  </tbody>
</table>

<h3>Add Modification</h3>

<%= form_for([@car, @car.modifications.build]) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <%= f.submit "Add", :class => "btn btn-success" %>
<% end %>

<br/>
<h3>Add Pic</h3>
<%= form_for([@car, @car.assets.build], :html => { :multipart => true }) do |f| %>
  <div class="field">
    <%= f.file_field :image, :multiple => true %>
  </div>
  <%= f.submit "Add", :class => "btn btn-success" %>
<% end %>

<% @car.assets(true).each do |asset| %>
  <div class="pic-container">
    <%= link_to asset.image.url do %>
      <%= image_tag asset.image.url, :class => "car-image" %>
    <% end %>
    <%= link_to 'Delete', [@car, asset], :method => :delete, data: { confirm: 'Are you sure you want to delete this picture?' }, :class => "btn btn-danger" %>
  </div>
  <br/>
<% end %>
<%= link_to 'Back', cars_path, :class => "link" %> |
<%= link_to 'Edit', edit_car_path(@car), :class => "link" %> |
<%= link_to 'Duplicate', clone_car_path(@car), :class => "link" %> |
<%= link_to 'Delete', @car, method: :delete, data: { confirm: 'Are you sure you want to delete this car?' }, :class => "link" %>
