<!DOCTYPE html>
<html>
<head>
  <title>Car Database</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	  	<%= link_to 'Car Database', cars_path, :class => "pull-left navbar-item", :id => "home-icon" %>
	  	<%= link_to 'New Car', new_car_path, :class => "btn btn-default pull-right navbar-item", :id => "new-car-button" %>
	  </div>
	</nav>
	<div class="container" id="main-container">
		<%= yield %>
	</div>
</body>
</html>
